
    {% extends 'app/base.html' %}


    {% block content %}
        <h1>Выучим все!</h1>





    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="">
          {{field.label_tag}}

          <div class="w-100">{{field.errors}}</div>
          {{field}}
        </div>
        {% endfor %}
        {% if request.user.is_authenticated %}
        <button class="btn btn-primary" type="submit">Создать</button>
        {% else %}
        <a class="btn btn-primary"   data-bs-toggle="modal" href="#check-modal" role="button" aria-expanded="false" aria-controls="check-modal">
            Создать
        </a>
<!--        <p class="btn btn-primary">Создать</p>-->
        {% endif %}
    </form>



    {% endblock %}
