

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/alerts.css' %}">
</head>
<body>

  <div class="container mt-3 "> <!--START MENU -->
    <ul class="nav justify-content-center nav-tabs  shadow">

      <li class="nav-item flex-sm-fill text-sm-center p-2">
        <a class="nav-link border-right " href="{% url 'list' %}">Все Слова</a>
      </li>
      <li class="nav-item flex-sm-fill text-sm-center p-2">
        <a class="nav-link border-right " href="{% url 'checkwords' %}">Учить Слова</a>
      </li>

      <li class="nav-item flex-sm-fill text-sm-center p-2">
        <a class="nav-link"  href="{% url 'appendwords' %}">Добавить слово</a>
      </li>

      <li class="nav-item flex-sm-fill text-sm-center p-2">
        <a class="nav-link"  href="{% url 'import_words' %}">Импортировать слова</a>
      </li>

      {% block li_for_menu %} {% endblock %}
    </ul>
  </div><!--END MENU -->



  <div class="container ">

      {% for message in messages %}  <!--START ALERTS-->
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS  %}
            <div class="alert alert-success d-flex flex-column align-items-center m-2" role="alert">
              <h3>{{message}}</h3>
<!--              <h3>{{message.level_tag}}</h3>-->
            </div>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger d-flex flex-column align-items-center m-2" role="alert">
                <h3>{{message}}</h3>
            </div>
        {% endif %}
    {% endfor%}  <!--END ALERTS-->


    {% block content %}{% endblock %}<!--MAIN CONTENT-->
  </div>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>