{% extends 'app/base.html' %}



{% block li_for_menu %}
    {% if request.user.is_authenticated %}
    <li class="nav-item flex-sm-fill text-sm-center p-2"> <!--    Start    Trigger Modal-->
        <a class="nav-link" data-bs-toggle="modal" href="#download-modal" role="button" aria-expanded="false" aria-controls="download-modal">
        Экспортировать слова
        </a>
    </li><!--    END    Trigger Modal-->
    {% else %}
    <li class="nav-item flex-sm-fill text-sm-center p-2"> <!--    Start    Trigger Modal-->
        <a class="nav-link"   data-bs-toggle="modal" href="#check-modal" role="button" aria-expanded="false" aria-controls="check-modal">
            Экспортировать слова
        </a>
    </li><!--    END    Trigger Modal-->
    {% endif %}
{% endblock %}



{% block content %}
        <div class="container   w-100 "><!--START CATEGORIES -->
            <ul class="list-inline d-flex flex-wrap justify-content-center mt-3">

              {% for c in cats %}
                  {% if c.pk == cat_selected %}
                      <li class="list-inline-item">{{c.name}}</li>|
                  {% else %}
                    {% if forloop.last %}
                        <li class="list-inline-item p-2 border rounded-pill "><a href="{{ c.get_absolute_url }}"> {{c.name}}</a></li>
                    {% else %}
                        <li class="list-inline-item p-2 border rounded-pill"><a href="{{ c.get_absolute_url }}"> {{c.name}}</a></li>
                    {% endif %}

                  {% endif %}
              {% endfor %}
            </ul>
        </div><!--END CATEGORIES -->



    <div class="modal fade" id="download-modal" tabindex="-1"> <!--Start    MODAL -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Download words</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="{% url 'export_words' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">save</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!--End    MODAL -->

    <h1>List</h1>

    <ul> <!--START list_of_words-->
        {% for word in list_of_words %}
        <li>
            <span>
                {{word.categorie}} - {{word.rus_name}} - {{word.eng_name}}
                <button class="btn btn-outline-danger" >
                    {% if request.user.is_authenticated %}
                        <a  style="color: red;  text-decoration: none;" href="{% url 'delete' id_word=word.id %}">Удалить</a>
                    {% else %}
                        <a  style="color: red;  text-decoration: none;" data-bs-toggle="modal" href="#check-modal" role="button" aria-expanded="false" aria-controls="check-modal">Удалить</a>
                    {% endif %}
                </button>
            </span>
        </li>

        {% endfor %}
    </ul> <!--END list_of_words-->




    <nav class="container w-100 "> <!--START WORDS_PAGINATION-->
        <ul class="list-inline d-flex justify-content-center mt-3 ">
            {% if page_obj.has_previous %}
            <li class="list-inline-item border rounded p-2">
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            </li>
            {% endif %}

            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="list-inline-item border rounded p-2">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="list-inline-item border rounded p-2">
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="list-inline-item border rounded p-2">
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            </li>
            {% endif %}
        </ul>
    </nav><!--END WORDS_PAGINATION-->
{% endblock %}
